/* 
CSS RESET
 */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Remove underline from anchor links
*/

a,
a:visited,
a:active {
  text-decoration: none;}

/*  */

.game {
    max-width: 600px;
    padding: 2em 1em;
    margin: 0 auto;
    text-align: center;
}

.gameResult {
    margin-bottom: 1em;
}

h1 {
    margin-bottom: 1em;
}

.choiceText {
    margin-bottom: 1em;
}

.btn {
    margin-right: .5em;
    padding: .2em 1.5em;
    background-color: rgb(52, 78, 155);
    color: white;
    border: none;
    border-radius: 4px;
    transition-property: padding;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(.99,.04,.36,1);
}

.btn:hover {
    padding: .15em 1.2em;
    cursor: pointer;
}